#wrapper {
	margin-top: 5%;
	margin-left: 30%;
	position: relative;
}

#pingResult {
	position: absolute;
	margin-top: 35px;
	margin-left: 50px;
	z-index: 1;
}

#busySpinner {
	position: absolute;
	margin-top: 55px;
	margin-left: 190px;
	z-index: 1;
}

#activeBackground {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	height: 130px;
}

#busyBackground {
	position: absolute;
	margin-top: 10px;
	margin-left: 10px;
	height: 130px;
}

#buttonMessage {
	position: absolute;
	margin-top: 100px;
	margin-left: 165px;
}

#errorMessage {
	position: absolute;
	margin-top: 100px;
	margin-left: 65px;
}