<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
version="2.4">

<welcome-file-list>
    <welcome-file>
        index.html
    </welcome-file>
</welcome-file-list>

<display-name>Pinger</display-name>
    <description>
        This is a simple web application that accesses a web resource and shows the response time.
    </description>
    
<servlet>
	<servlet-name>PingServer</servlet-name>
	<servlet-class>pinger.servlet.PingServer</servlet-class>
</servlet>

<servlet-mapping>
	<servlet-name>PingServer</servlet-name>
	<url-pattern>/ping.do</url-pattern>
</servlet-mapping>

  <listener>
  	<listener-class>
  		pinger.servlet.PingerContextListener
  	</listener-class>
  </listener>
</web-app>